@use "sass:map";
@use "sass:meta";
@use "sass:math";

$breakpoints: (
  small: 30em,
  medium: 45em,
  large: 65em,
  xl: 80em,
);

@mixin mq($size) {
  $breakpoint: map.get($breakpoints, $size);

  @if $breakpoint {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if (meta.type-of($size) == 'number'){
    
    @if math.is-unitless($size){
        @error 'The number you typed is unitless';
    } @else {
      $breakpoint: $size;
      @media screen and (min-width: $breakpoint) {
        @content;
      }
    }
  } @else {
    @error 'nahh bro, not found in the map'
  }

  
}

body {
  // all of these should work

  @include mq(medium) {
    background: pink;
  }
  @include mq(500px) {
    background: lightblue;
  }
  @include mq(100em) {
    background: #efefef;
  }

  // these should fail, with an error telling me why

  // @include mq(5000) {
  //   background: purple;
  // }
  // @include mq(reallysmall) {
  //   background: yellow;
  // }
  
}
